* {
  color: whitesmoke;
  background-color: black;
}

.body {
  margin: auto;

}

h1 {
  margin-left: 50px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-size: calc(10px + 1vmin);
}



/* .map-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 300px;
    background: #ffffff46;
    border: 3px groove yellow;
} */

.map-container {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  min-height: 2.4rem;
}

.image-map {
  left: var(--liminal2-left);
  top: var(--liminal2-top);
  height: calc(var(--liminal2-scale-ratio) * var(--liminal2-height));
  opacity: 0.8;
  cursor: pointer;
  border: solid 2px transparent;
  box-sizing: border-box;
  /* z-index: 0; */
}

.roomFont {
  position: relative;
  color: red;
  font-weight: 800;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.roomFont:hover {
  color: white;
}

.active {
  color: white;
}


.container {
  position: relative;
}

.click-zone {
  cursor: pointer;
}

.click-zone:hover {
/*  border: solid 0.5px white; */
}


