* {
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
  background-color: black;
  --liminal2-left: 20px;
  --liminal2-top: 400px;
  --liminal2-height: 228px;
  --liminal2-scale-ratio: 1.4;
  --liminal2-width: 474px;
}

.body {
  margin: auto;

}

h1 {
  margin-left: 50px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-size: calc(10px + 1vmin);
}

.roomName {
  color: greenyellow;
  /* font-size: 12px; */
  width: 100%;
  /* display: block; */
  padding: auto;
  /* margin-top: -20px; */
}

/* .map-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 300px;
    background: #ffffff46;
    border: 3px groove yellow;
} */

.map-container {
  /* opacity: 0.5; */
  position: absolute;
  top: 40px;
  left: 20px;
}

.image-map {
  left: var(--liminal2-left);
  top: var(--liminal2-top);
  height: calc(var(--liminal2-scale-ratio) * var(--liminal2-height));
  opacity: 0.8;
  cursor: pointer;
  border: solid 2px transparent;
  box-sizing: border-box;
  /* z-index: 0; */
}

.defaultRoomName {
  position: relative;
  color: greenyellow;
}

.image-map:hover {
  border: solid 2px purple;
  box-sizing: border-box;
}

/* .map-container:hover > * {
  opacity: 1;
} */


.container {
  position: relative;
}

.click-zone {
  position: relative;
  top: 0px;
  cursor: pointer;
  /* z-index: 2; */
  /* border: 1px solid grey; */
}

.click-zone:hover {
  border: solid 0.5px purple;
}
